language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.9
  - 2.2.5
  - 2.3.1
  - jruby-19mode # JRuby in 1.9 mode
gemfile:
  - gemfiles/rails1-4.gemfile
  - gemfiles/rails5.gemfile
matrix:
  exclude:
    - gemfile: gemfiles/rails5.gemfile
      rvm: 1.9.3
    - gemfile: gemfiles/rails5.gemfile
      rvm: 2.0.0
    - gemfile: gemfiles/rails5.gemfile
      rvm: 2.1.9
    - gemfile: gemfiles/rails5.gemfile
      rvm: jruby-19mode
before_install:
  - gem install bundler -v '= 1.11.2'
  - gem update --system
  - gem --version
