name: CI
on:
  pull_request:
  push:
    branches:
    - master
jobs:
  test:
    name: Tests with Ruby ${{ matrix.ruby-version }} Rails ${{ matrix.rails }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - 3.1
        - 3.2
        - 3.3
        - 3.4
        rails:
        - '7.1.0'
        - '7.2.0'
        - '8.0.0'
        - '8.1.0'
        - 'edge'
        exclude:
        - ruby-version: 3.1
          rails: '8.0.0'
        - ruby-version: 3.1
          rails: '8.1.0'
        - ruby-version: 3.1
          rails: 'edge'
        - ruby-version: 3.2
          rails: 'edge'
        - ruby-version: 3.3
          rails: 'edge'
    continue-on-error: ${{ matrix.rails == 'edge' }}
    env:
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: |
        bundle exec rake
